{
  "trailingComma": "all",
	"useTabs": true,
	"tabWidth": 4,
	"semi": true,
	"singleQuote": false,
	"quoteProps": "consistent",
	"printWidth": 120,
	"bracketSpacing": true,
	"arrowParens": "always",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 80,
        "tabWidth": 4,
        "useTabs": true,
        "singleQuote": false,
        "bracketSpacing": true,
        "explicitTypes": "always"
      }
    }
  ]
}